body { 	
	color: black;
	background-color: lightblue;
	font-family: Veranda; Geneva, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	}

h1.title {
		font-style:italic; 
		font-size: 30pt;
		font-variant: small-caps;
		font-weight: bold;
		text-align:center;
		}
	
h2.title {
		font-style:italic; 
		font-size: 18pt;
		font-variant: small-caps;
		font-weight: bold;
		text-align:left;
		}
.border {
		border:4px solid white; 
		width:1000px; 
		padding:10px; 
		margin-right:0px; 
		margin-left:300px;
		float:none;
		}
